@charset "UTF-8";

body {
	background-color : #CBC8C7;
}

#fullscreen {
	width : 100%;
	display : flex;
	flex-direction : column;
	justify-content : center;
	align-items : center;
	margin-top : 100px;
}

input[type=text], input[type=password] {
	width : 400px;
	height : 40px;
	padding : 5px;
	margin : 10px;
}

input[type=submit] {
	width : 410px;
	height : 40px;
	background-color : black;
	color : white;
	padding : 5px;
	margin : 10px;
}

#full2 {
	width : 100%;
	display : flex;
	justify-content : center;
	align-items : center;
	margin-top : 30px;
}

#box {
	width : 310px;
	display : flex;
	justify-content : space-around;
}